/tmp
/*/node_modules
/*/docker-packaging
/*/dist
/*/docker-packaging-config/files
/builds
node_modules/
coverage
/docs/dev/env.sh
.vscode
/env-dev.js
/*/tmp
storywriter-proxy/bin/
/docs/dev/data
storywriter-web/.nuxt
storywriter-web/.output
docs/dev/tmp/
